
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* /* #bricks-component-XNtZBxMip1MdKyhwoOYMMw-wrapper{
    display: none;
    margin-left: 950px !important;
} */
.chat-nvoip-menu{
    margin: 35px;
    padding: 0;
}
#mais-support-widget.closed.maximized.compact{
    display: none;
}
#mais-support-widget #mais-support-app #mais-support-wrapper #mais-support-header a.hide {
    right: 15px;
}
#mais-support-widget{
    
    z-index: 9990 !important;
    position: fixed !important;
    bottom: 70px !important;
    right: 81px !important;
    height: auto !important;
    z-index: 9990 !important;
}
.closed.minimized{
    display: none !important;
}
._6h2kp91{
    display: none;
}
._6h2kp93{
    display: none !important;
} 

/*Botões    */
.navbarT12{
    position: relative;
    margin-top: 5px;
}
.boxTxtT12{
    width: 210px;
    height: 19px;
    border-radius: 0.3rem;
    position: fixed;
    bottom: 29px;
    right: 85px;
    color: #000;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
    font-size:16px !important;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9990;
}



.nvoipIcon{
    width: 40px;
    margin-top: 8%;
    margin-left: 0px;
}
.callmeIcon{
    width: 25px;
    margin-top: 2px;
    filter: invert(1);
}
.maisImIcon{
    width: 26px;
    margin-top: 2px
}


.boxT12 .menuT12{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.boxT12 .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 6px;
}
.nvoipIcon{
 border-radius: 40px;
  box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
  animation: pulse-orange 4s  infinite;
}
@keyframes pulse-orange {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
    }
    
    70% {
      transform: scale(1.2);
      box-shadow: 0 0 0 20px rgba(255, 121, 63, 0);
    }
    
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
  }
.boxT12 .icon .baloon{
    position: relative;
}

.whatsapp{
    background-color: #07be07;
}
.maisIm{
    background-color: rgb(243, 116, 53)
}
.callMe{
    background-color: rgb(243, 116, 53)
}
.menuT12{
    background-color: rgb(243, 116, 53)
}
.boxT12:nth-child(3){
    width: 50px;
    height: 50px;
    z-index: 9990;
    position: fixed;
    bottom: 70px;
    right: 26px;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    box-sizing: border-box;
    z-index: 9990;
}
.boxT12:nth-child(2){
    width: 50px;
    height: 50px;
    z-index: 9990;
    position: fixed;
    bottom: 115px;
    right: 26px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    z-index: 9990;
}
.boxT12:nth-child(1){
    width: 50px;
    height: 50px;
    z-index: 9990;
    position: fixed;
    bottom: 165px;
    margin-bottom: 30px;
    right: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    z-index: 9990;
}

.icon.whatsapp:hover{
    background: #059405;
    }
.icon:hover{
    background: #d65905;
    box-shadow:  0px 0 0 50px #d6711f7e;
}
#boxNvoip{
    width: 50px;
    height: 50px;
    z-index: 9990;
    position: fixed;
    bottom: 25px;
    right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    z-index: 9990;
}

.boxT12:hover .icon{
        color: #fff;
        box-shadow: 0 0 90px rgba(0,0,0,0.26);
    }

/*Botões    -- FIM */
/*modal */
.popupFormWpp{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 280px !important;
    height: 365px !important;
    padding: 27px 30px;
    background: #fff;
    box-sizing: content-box;
    box-shadow: 2px 2px 5px 5px rgb(0 0 0 / 15%);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
    z-index: 9990 !important;
}
.popupFormWpp.active{
    top:50%;
    position: fixed;
    opacity: 1;
    z-index: 9990!important;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popupFormWpp .close-btn {
    position: absolute;
    top: 10px;
    right:11px;
    width: 15px;
    height: 15px;
    color: orange;
    text-align: center;
    line-height: 16px;
    border-radius: 15px;
    cursor: pointer;
}
.popupFormWpp .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px !important;
    font-family: 'Raleway';
}
.popupFormWpp .form {
}
.popupFormWpp .form .form-element-popupFormWpp label{
    font-size: 13px !important;
    color: #222;
    font-family: 'Raleway';
}
#titleWPP{
    margin-bottom: 16px;
    font-size: 16px !important;
    font-family: 'Raleway';
}
#inputName{
    margin-bottom: 0.3rem;
}
#inputEmail{
    margin-bottom: 0.3rem;
}
#inputCelular{
    margin-bottom: 0.3rem;
}
.popupFormWpp .form .form-element-popupFormWpp input[type="text"],
.popupFormWpp .form .form-element-popupFormWpp input[type="tel"]{
    display: block;
    width: 100%;
    padding: 0.6rem;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
}
.popupFormWpp .form .form-element-popupFormErrorWpp input[type="text"],
.popupFormWpp .form .form-element-popupFormErrorWpp input[type="tel"]{
    display: block;
    width: 100%;
    padding: 0.6rem;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #b40404;
    border-radius: 10px;
}
.popupFormWpp .form .form-element-popupFormErrorWpp {
    color:#b40404
}
#warningName{
    color: #c21414;
    font-family: 'Raleway';
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
    margin-left: 2px;
}
#warningEmail{
    color: #c21414;
    font-family: 'Raleway';
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
    margin-left: 2px;
}

#warningPhone{
    color: #c21414;
    font-family: 'Raleway';
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
    margin-left: 2px;
}

.popupFormWpp .form .form-element-popupFormWpp input[type="checkbox"]{
    margin-top: 0.4rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
}
.termsWPP{  
    margin-top: 6%;
    margin-bottom: 10%;
    font-family: 'Raleway';
    font-size: 15px !important;
}
.popupFormWpp .form .form-element-popupFormWpp #submit3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px !important;
    background: #25d366;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Raleway';
    box-sizing: border-box;
    
}
/*modal --- FIM*/

