*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Raleway', sans-serif;
}
/* /* #bricks-component-XNtZBxMip1MdKyhwoOYMMw-wrapper{
    display: none;
    margin-left: 950px !important;
} */

#mais-support-widget{
    position: relative;
    top:220px !important;
    left:998px !important;
}
.closed.minimized{
    display: none !important;
}
/* ._6h2kp91{
    display: none;
} */
/* ._6h2kp93{
    display: none !important;
}  */

/*Botões    */
.navbar{
    position: relative;
    margin-top: 5px;
}

.box{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
}
.box:hover{
    width: 50px;
    background: #c32aa3;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px #b315917c;
}
.nvoipIcon{
    max-width: 25px;
    margin-top: 3px;
    margin-left: 1px;
}
.callmeIcon{
    max-width: 18px;
    margin-top: 2px;
    filter: invert(1);
}
.maisImIcon{
    max-width: 18px;
    margin-top: 2px
}


.box .icon{
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .4s ease;
}
.box .icon .baloon{
    position: relative;
}

.whatsapp{
    background-color: #25d366;
}
.maisIm{
    background-color: #d36a25;
}
.callMe{
    background-color: #d36a25;
}
.menu{
    background-color: #d36a25;
}

.box:nth-child(4){
    top: 900px;
    position: fixed;
}
.box:nth-child(3){
    top: 850px;
    position: fixed;
}
.box:nth-child(2){
    top: 800px;
    position: fixed;
}
.box:nth-child(1){
    top: 750px;
    position: fixed;
}
.box:nth-child(1):hover{
    background: #25d366;
    box-shadow: 0 0 40px #25d3657e;
}
.box:nth-child(2):hover{
    background: #d36a25;
    box-shadow: 0 0 40px #d6711f7e;
}
.box:nth-child(3):hover{
    background: #d36a25;
    box-shadow: 0 0 40px #d6711f7e;
}
.box:nth-child(4):hover{
    background: #d36a25;
    box-shadow: 0 0 40px #d6711f7e;
}

.box:hover .icon{
        color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,0.26);
    }

/*Botões    -- FIM */
/*modal */
.popup{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    height: 410px;
    padding:  20px 30px;
    background: #fff;
    box-shadow:  2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius:10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.popup.active{
    top:50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right:11px;
    width: 15px;
    height: 15px;
    color: orange;
    text-align: center;
    line-height: 16px;
    border-radius: 15px;
    cursor: pointer;
}
.popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.popup .form .form-element{
    margin: 12px 0px;
}
.popup .form .form-element label{
    font-size: 15px;
    color: #222;
}
h3{
    margin-bottom: 15px;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="tel"]{
    display: block;
    width: 100%;
    padding: 13px;
    outline: none;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
}
.popup .form .form-element input[type="checkbox"]{
    margin-top: 30px;
    margin-right:5px ;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
}
p{  
    
    font-size: 14px;
}
.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #25d366;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}
/*modal --- FIM*/
@media only screen and (max-height: 768px){
    /*botões */
    .box{
        position: fixed;
        left: 94%;
    }
    .box:nth-child(4){
        top: 580px;
        position: fixed;
    }
    .box:nth-child(3){
        top: 530px;
        position: fixed;
    }
    .box:nth-child(2){
        top: 480px;
        position: fixed;
    }
    .box:nth-child(1){
        top: 430px;
        position: fixed;
    }
    /*modal */

    .popup{
        position: absolute;
        top: -150%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.25);
        width: 280px;
        height: 340px;
        padding:  20px 30px;
        background: #fff;
        box-shadow:  2px 2px 5px 5px rgba(0,0,0,0.15);
        border-radius:10px;
        transition: top 0ms ease-in-out 200ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 200ms ease-in-out 0ms;
    }
    .popup.active{
        top:50%;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.25);
        transition: top 0ms ease-in-out 0ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 200ms ease-in-out 0ms;
    }
    
    .popup .close-btn {
        position: absolute;
        top: 10px;
        right:11px;
        width: 15px;
        height: 15px;
        color: orange;
        text-align: center;
        line-height: 16px;
        border-radius: 15px;
        cursor: pointer;
    }
    .popup .form h2{
        text-align: center;
        color: #222;
        margin: 10px 0px 20px;
        font-size: 25px;
    }
    .popup .form .form-element{
        margin: 12px 0px;
    }
    .popup .form .form-element label{
        font-size: 15px;
        color: #222;
    }
    h3{
        margin-bottom: 15px;
        font-size: 13px;
    }
    .popup .form .form-element input[type="text"],
    .popup .form .form-element input[type="tel"]{
        display: block;
        width: 100%;
        padding: 8px;
        outline: none;
        border: 1px solid rgb(233, 233, 233);
        border-radius: 10px;
        font-size: 11px;
    }
    .popup .form .form-element input[type="checkbox"]{
        margin-top: 10px;
        margin-right:5px ;
        border: 1px solid rgb(233, 233, 233);
        font-size: 8px;
    }
    .popup .form .form-element label{
        font-size: 10px;
        position: relative;
        top: -3px;
    }
    p{   
        font-size: 10px;
    }
    .popup .form .form-element button {
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        font-size: 15px;
        background: #25d366;
        color: #f5f5f5;
        border-radius: 10px;
        cursor: pointer;
    }

}